@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@600&display=swap');

/* Default styles for all pages */

html {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, 'san-serif';
}

/* Header styles for all pages */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background-color: seagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Logo styles for all pages */

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none; 
    font-weight: 700;
    letter-spacing: 2px;
    filter: drop-shadow(0 0 5px black);
}

/* Navbar styles for all pages */

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    letter-spacing: 4px;
    transition: .3s;
    filter: drop-shadow(0 0 5px black);
}

.navbar a:hover  {
    color: saddlebrown;
}

.active {
    border-bottom: 1px solid;
}

/* Hero Image styles*/

#hero-image-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image-background {
    height: 600px;
    width: 100%;
    position: relative;
    background-image: url("../img/pub-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}