@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@600&display=swap');

/* Default styles for all pages */

html {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, 'san-serif';
}

/* Header styles for all pages */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background-color: seagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Logo styles for all pages */

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none; 
    font-weight: 700;
    letter-spacing: 2px;
    filter: drop-shadow(0 0 5px black);
}

/* Navbar styles for all pages */

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    letter-spacing: 4px;
    transition: .3s;
    filter: drop-shadow(0 0 5px black);
}

.navbar a:hover  {
    color: saddlebrown;
}

.active {
    border-bottom: 1px solid;
}

/* Background image styles*/

.pub-background {
    min-height: 100vh;
    background-image: url("../img/pub-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Welcome screen styles*/

.welcome {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.welcome-content h1  {
    font-size: 60px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    filter: drop-shadow(0 0 5px black);
}

.welcome-content p {
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    filter: drop-shadow(0 0 5px black);
    margin-bottom: 30px;
}

.welcome-content .start-button {
    width: 190px;
    height: 55px;
    background-color: seagreen;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px seagreen;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.welcome-content .start-button:hover {
    background: black;
    box-shadow: none;
}

/* Popup/rules screen styles*/ 

.popup-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    background-color: seagreen;
    border-radius: 6px;
    padding: 10px 25px;
    display: none;
    pointer-events: none;
}

.popup-screen h2 {
    text-align: center;
    font-size: 30px;
    color: white;
}

.rules li {
    font-size: 16px;
    color: white;
    font-weight: 500;
    margin: 4px 0px;
}

.popup-screen .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 15px 0 7px 0;
}

.popup-screen .button-group .info-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background-color: white;
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.popup-screen .button-group .info-button:nth-child(1) {
    background: transparent;
    color: white;
}

.popup-screen .button-group .info-button:nth-child(1):hover {
    background: saddlebrown;
    color: white;
}

.popup-screen .button-group .info-button:nth-child(2):hover {
    background: saddlebrown;
    color: white;
}

/* Footer styles for all pages */ 

footer {
    height: 200px;
    background-color: seagreen;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #fff;
}

.social-networks i:hover {
    color: saddlebrown;
}